.main-footer {
    background-color: $white;
    padding: 15px;
    position: relative;
    bottom: 0;
    display: block;
    margin-top: auto;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
}